
{% extends 'base.html' %}

{% block content %}
{% load static %}
       
       <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-8">
                                <div class="hero__caption">
                                    
                                    <h1 data-animation="fadeInUp" data-delay=".6s">Tapan Kanti Sarkar</h1>
                                    <P data-animation="fadeInUp" data-delay=".8s" >Founder President CTO Forum Bangladesh.</P>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="{% url 'profile' %}" class="btn hero-btn"  data-animation="fadeInLeft" data-delay=".8s">Learn More</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-8">
                                <div class="hero__caption">
                                    
                                    <h1 data-animation="fadeInUp" data-delay=".6s">Tapan Kanti Sarkar</h1>
                                    <P data-animation="fadeInUp" data-delay=".8s" >pendisse ultrices gravida.</P>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="industries.html" class="btn hero-btn"  data-animation="fadeInLeft" data-delay=".8s">Learn More</a>
                                        <a href="industries.html" class="btn border-btn ml-15" data-animation="fadeInRight" data-delay="1.0s">Hire Me</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- About Area start -->
        <br><br>
        <section class="about-area " >
            <div class="container" >
                <div class="row ">
                    <div class="col-lg-5">
                        <div class="about-caption mb-50">
                            <h4>Welcome to the Official Website of</h4>
                            <h2>Tapan Kanti Sarkar</h2>
                            <p class="pera1">This site is like a diary of Mr. Khan where he shares about his dream, activities, experience with all.</p>
                            
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <div class="about-caption2">
                            <h3>Any Type Of Query<br> & Discussion.</h3>
                            <p>Late talk with me</p>
                           <div class="send-cv">
                                <a href="https://www.facebook.com/tks446/">Facebook</a>
                                <i class="ti-arrow-right"></i>
                                
                                
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        
        <br><br><br>
        <!-- youtube start -->



        <div class="container">

        
      <div class="row">

        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Vm9X3fadDFU" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UsnrP2BDVBw" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>


      </div>




    </div> <!-- container -->
        <!-- youtube end -->

        
        <br><br><br>
        {% endblock %}