{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- Hero Start -->
<div class="slider-area ">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            

            <div class="row">
                <div class="col-sm-4">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="http://www.tksarkar.com//photos/ctoforumbd/event4_pic2.jpg" alt="Card image">
                        <div class="card-img-overlay">
                          <h5 class="card-title" style="color: burlywood;">Card title</h5>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="http://www.tksarkar.com//photos/ctoforumbd/event4_pic2.jpg" alt="Card image">
                        <div class="card-img-overlay">
                          <h5 class="card-title" style="color: burlywood;">Card title</h5>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="http://www.tksarkar.com//photos/ctoforumbd/event4_pic2.jpg" alt="Card image">
                        <div class="card-img-overlay">
                          <h5 class="card-title" style="color: burlywood;">Card title</h5>
                        </div>
                      </div>
                </div>
                <div class="col-sm-4">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="http://www.tksarkar.com//photos/ctoforumbd/event4_pic2.jpg" alt="Card image">
                        <div class="card-img-overlay">
                          <h5 class="card-title" style="color: burlywood;">Card title</h5>
                        </div>
                      </div>
                </div>
                
        
                

              </div>

        </div>
    </div>
</div>
<!-- Hero End -->






<!-- code starting here -->













{% endblock %}